@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family{
    font-family: 'Merriweather', serif;
} */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(236, 20, 38);
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.container,
.Featured,
.support {
    width: 75%;
    max-width: 1440;
    margin: 0 auto;

}

.banner {

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    gap: 68px;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 525%;
}

.banner .banner-image img {
    width: 100%;
    vertical-align: middle;

    width: 476px;
    height: 600px;


}

/* .Featured-text {
    text-align: center;
    margin-top: 133px;

}

.Featured-text h2 {
    color: #272727;
font-size: 30px;
font-weight: 600;

}

.Featured-text p {
    width: 445px;
    /* justify-content: center; */
/*margin: auto;

    color: rgba(39, 39, 39, 0.60);
    margin-top: 18px;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    
} */

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;

}

#Featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

.section-content .flower .flower-image {
    background-color: #e76884;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-image img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);

}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

.support-content {
    display: flex;
    justify-content: space-around;
    /* text-align:  center; */
    /* /* margin: auto; */

    background: rgba(39, 39, 39, 0.05);
   max-width: 1080px;
    max-height: 140px;
    /*gap: 25px; */
    gap: 45px;
    padding : 0 15% ;
    border-radius:  6px;
     
     

}

.section-content .section-image {}

#newsletter{
    margin: 128px 0;
}

.newsletter-main{
    background-image: url('flower/Asset/Rectangle9.png');
    background-size: contain;
    padding: 122px 0;
}